@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: {
    left: 3px;
    right: 3px;
  };
  padding: {
    left: 15px;
    right: 15px;
  };

  height: 30px;
  border: none;
  border-radius: 28px;
  background-color: #2861c2;
  cursor: pointer;
  outline: none;

  color: aliceblue;
  //font-size: 16px;
}
